.container {
    position: relative;
}

.row {
    margin-left: 10%;
    height: 75vh;
    width: 100%;
}

body {
    background: #989a9bc2;
    font-family: sans-serif;
}

h2 {
    color: #fff;
}

.login {
    border-radius: 3px;
}

label {
    font-size: 13pt;
    color: rgb(255, 255, 255);
}

input[type="text"] {
    padding: 8px;
    border-radius: 20px;
    width: 25%;
    background: #efefef;
    border: 0;
    font-size: 15pt;
    margin: 6px 0px;
}

.tombol {
    margin-left: 8%;
    border-radius: 20px;
    font-size: 15pt;
    background: #59a8dd;
    color: #fff;
    border: 0;
    padding: 5px 10px;
}